.bg {
    background-image: url(../images/Group\ 57.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    background-position: center;
    width: 1366px;
    height: 324px;
 
}
.nav {
    
    display: flex;
    justify-content: space-between;
    width: 1089px;
    color: white;
    padding-top: 30px;
    padding-left: 139px;
    font-size:12px;

}
.nav-li { 
    display: flex;
    color: white;
    
}
li {
     margin-right: 30px;
 }
.title-1 {
    width: 205px;
    height: 42px;
    font-size: 42px;
    margin-top: 108px;
    margin-left: 139px;
    color:white;

}
.lil-box {
    width: 147px;;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top:23px;
    margin-left: 139px;





}


   



